div.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #F4F6F8;

  div.login-content {
    width: 300px;
    padding: 100px;
    background-color: #F0F0F0;
    border: 1px solid #BCC4CC;
    border-radius: 10px;
  }

  form {
    display: flex;
    flex-direction: column;

    h2 {
      color: #4758b8;
    }

    div.input-container {
      display: flex;
    }
  }
}
